:root{
  background-color: rgb(215, 211, 206);
}

img{
    width: 100px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
.flex-container{
    display: flex ;
    justify-content: space-evenly;
    text-align: center;
}
h1{
    font-weight: bold;

}
nav{
  background-color: aliceblue;
}
* #products{
  background-color: antiquewhite;
} 
li{
  font-size: 20px;
  font-weight: bold;
}
